<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>
  <body class="m-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <a class="btn btn-dark my-3" href="{% url 'gallery' %}">Go back</a>
          <div style="height: 90vh;">
            <img style="max-width:100%; max-height:100%;" src="{{photo.image.url}}" alt="">
            <p>{{photo.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
